
@{
    ViewData["Title"] = "Error404";
    Layout = "~/Views/Shared/_MainView.cshtml";
}
<div class="row">
    <div class="col-lg-4">
        <img style="" src="https://i.pinimg.com/736x/1d/81/e0/1d81e065de302045e5d8709bef235ac4.jpg" />
    </div>
      <div class="col-lg-4">
        <img style="width:353px;height:358px" src="https://p77-sign-va.tiktokcdn.com/tos-maliva-avt-0068/53c338c076e2bbd45053d9d8c953d66c~c5_720x720.jpeg?x-expires=1662714000&x-signature=bmONlzpb7xtAXNdbZYmFvSrUqnM%3D" />
    </div>
      <div class="col-lg-4">
        <h1 style="text-align:center">404 Səhifə tapılmadı</h1>
        <br />
        <a class="btn btn-warning form-control" href="/Default/Index/">Ana səhifə</a>
    </div>
</div>


