@using EntityLayer.Concrete
@model List<Friend>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<table class="table table-bordered table-hover">
    <thead>
        @foreach (var item in Model)
        {
            <tr>
                
                <th scope="col">
                    <img src="~/IconsWeb/friendlogo_50px.png" />
                    @if (item.Gonderen == ViewBag.v1)
                    {
                        <a href="/Friend/UserFriendBlogs/@item.Alan"> @item.Alan</a>

                    }
                    else
                    {
                        <a href="/Friend/UserFriendBlogs/@item.Gonderen">@item.Gonderen</a>

                    }
                </th>

                <th scope="col"><a href="#"><img src="~/IconsWeb/Levget.png" /></a></th>
            </tr>
        }
</table>



