
						<div class="tech-btm">
							<h4>Abunə olun </h4>
							<p>Yeni postlarımız haqqında məlumat əldə etmək üçün abunə olun </p>
							  @using (Html.BeginForm("SubcribeMailPartial", "NewsLetter", FormMethod.Post))
    {
								<input name="Mail" type="email" placeholder="Email" required="">
								<input type="submit" value="Abunə ol">
	}

						</div>
